.portrait {
  height:160px;
  background:#CC0001;
}
.name{
  font-size:36px;
  color:#fff;
  margin-left: 65px;
}
.MyPng {
  height: 100px;
  width: 100px;
  margin-top: 5px;
  margin-left: 50px;
  border-radius:50%;
}
.conversion{
  text-align: center;
  width: 200px;
  border-radius: 50px;
  border: 1px solid #000000;
}
.integral{
  margin-top: 20px;
}
.integralValue{
  margin-left: 70px;
}
.integralName{
  margin-top: 10px;
  font-size: 18px;
  color: #aaa;
  margin-left: 73px;
}