@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";
/*.qrCanvas {
  margin: auto;
  height: 350px;
  width: 350px;
  background: #FFF000
}

.qrBg {
  width: 450px;
  height: 450px;
  margin: 0 auto;
  background: #F5F5F5;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
*/
/*.logo {
  width: 80px;
  height: 100px;
}*/



/*.portrait {
  height:160px;
  background:#CC0001;
}
.name{
  font-size:36px;
  color:#fff;
  margin-left: 65px;
}
.MyPng {
  height: 100px;
  width: 100px;
  margin-top: 5px;
  margin-left: 50px;
  border-radius:50%;
}
.conversion{
  text-align: center;
  width: 200px;
  border-radius: 50px;
  border: 1px solid #000000;
}
.integral{
  margin-top: 20px;
}
.integralValue{
  margin-left: 70px;
}
.integralName{
  margin-top: 10px;
  font-size: 18px;
  color: #aaa;
  margin-left: 73px;
}

.qrBg{
  background-color: 'red'
}*/

